# Hier werden die git ignore dateien festgesetzt die
# Wolfgang nicht brauchen wird für den Server.

gaze-guidance/sonstiges/

gaze-guidance/gaze_möglichkeiten.md

gaze-guidance/backup_ohneGG/

.vscode/